@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.wrapper {
    display: flex;
    flex-direction: row;
}

#selectedForm{
    color: rgb(146, 144, 144);
}

#deleteAcc{
    color: grey;
}
#deleteAcc:hover{
    color: red ;
}

.links {
    display: flex;
    flex-direction: column; /* Arrange links vertically */
}

.links > li {
    margin-bottom: 10px; 
    list-style-type: none;
    font-size: 12px;
    position: relative; 
    width:fit-content;

}

.links > li> hr {
    margin-top: 10px;
    bottom: -2px;
    width: 14vh;
}

.menuLink {
    color: black;
    text-decoration: none;
    display: inline-block;
   
}

.menuLink::after {
    content: '';
    display: block;
    margin-top: 5px;
    width: 0;
    height: 1px;
    background: #000;
    transition: width .3s;
}

.menuLink:hover::after {
    width: 100%;
}

#profile{
    color:#ee5417;
    font-weight: bold;
}

#UserSelection{
    margin-left: 10vh;
    margin-top: 2vh;
}

.UserForm {
    display: block;
    padding-top: 30vh;
}
.inputFieldDiv {
    margin-bottom: 4vh;
}

#UserSelection input {
    height: 3.5vh;
    width: 35vh;
    border-radius: 1vh;
    border: 0.5px solid grey;
    padding: 1vh;
    font-family: Poppins;
    font-size: 10px;
}

body{
    margin-left: 50vh;
    margin-top: 10vh;
    font-family: Poppins;
}

p{
    color: black;
    font-size: 11px;
}

.submitButton {
    background-color: #ee5417;
    border: 1px #ee5417 !important;
    border-radius: 3vh;
    width: 37vh !important;
    height: 5vh !important;
    color: white;
    font-family: 'Poppins Semibold';
    align-items: center;
}

.formButtonDiv {
    display: flex;
    align-items: center;
    padding-top: 3vh;
}


.orderItem {
    display: flex;
    width: 70vh;
    height: 20vh;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    align-items: center;
    margin-bottom: 40px;
    font-size:10px;
}

.orderItem img {
    height: 70%; 
    width: 30%;
    border-radius: 10px;
    padding-left: 10px;

}

.orderDetails {
    flex: 1;
    padding: 20px;
    padding-top:0px;
}

.orderDetails h2 {
    margin-top: 30px;
    font-size: 13px;
}

.orderDetails ul {
    margin-top: 10px; 
    list-style-type: none;
    padding-left: 0;

}

.checkout-input{

    margin-bottom: 20px;
    flex: 0 0 65%; 

}
.checkout-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px; /* Adjust spacing between each group */
}

.checkout-label {
    flex: 0 0 30%; /* Adjust label width */
    margin-right: 10px;
    text-align: left;
    height:40px;
}


label{
    font-family:'Poppins' ;
    font-size: 12px;
    margin-right: 30px;
}


.specifics{
    color:#ee5417;
    font-weight: bold;
}