
body {margin: 0;}
div.filterDiv{
  border-bottom: 1px solid #d8d8d8; 
}
div.ulDiv{
  display: table;  
	margin: 0px auto;}
ul.filter {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  margin: 10px;
}
ul.filter li {
 display:inline;
}

ul.filter li a {
  /* display: block; */
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-right: 1px solid #ee5417;
}

ul.navbar {
  list-style-type: none;
  margin: 0px ;
  padding: 0;
  overflow: hidden;
  background-color: #231f20;}

ul.navbar li.left {float: left;padding-left: 20px; }
ul.navbar li.right {float: right; padding-right: 20px;}

ul.navbar li a,ul.navbar li div {
  /* display: block; */
  color:#ee5417;
  display: flex;
  /* justify-content: center; */
  align-items: flex-end; 
  /* text-align: center; */
  padding: 17px 16px;
  text-decoration: none;
  font-weight: 500;
  font-size: large;  
  height: 25px;
 
  /* margin-top: 5px;*/
}
ul.navbar li a:hover:not(.active),ul.navbar li div:hover:not(.active) { padding-bottom:8px;border-bottom: 1px solid #d8d8d8;}
ul.navbar li a.active {  color:#d8d8d8; padding-bottom:8px;border-bottom: 1px solid #d8d8d8;text-shadow: 1px 2px 4px rgba(0,0,0,0.6); }






ul.navbar li button {
    all: unset;
   
}

@media screen and (max-width: 900px) {
  ul.navbar li.right, 
  ul.navbar li.left:not(.search-form) { padding: 0px 0px 0px 0px;display:flex; justify-content: center; }
  /* ul.navbar li a{  padding-top: 5px ; padding-bottom: 5px; padding-right: 100%;padding-left: 100%;} */
  ul.navbar li form{display: none;}
    
}


.search-container{
  /* float: none; */
    /* height: 25px;
    border-radius: 30px;
    padding: 12px 20px;
    margin: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; */
    all:unset;
    /* background: #fff; */

    transition: 0.9s;
    /* box-shadow: 8px 7px 20px 0px rgba(0,0,0,0.30);
-webkit-box-shadow: 8px 7px 20px 0px rgba(0,0,0,0.38);
-moz-box-shadow: 8px 7px 20px 0px rgba(0,0,0,0.38); */
}

.search-container:hover > .search-input{
    width: 300px;
}

.search-container .search-input{
    all:unset;
    color: #ee5417;
    width: 0px;
    font-weight: 500;
    font-size: 16px;
    transition: 0.8s;

}
.search-container .search-input::placeholder{
color: #ee5417;
}
