.product {
  cursor: pointer;
  padding: 20px;
  border-radius: 10px;
  transition: box-shadow ease-in-out 0.2s, font-size ease-in-out 0.2s, transform ease-in-out 0.2s;
}

.product:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-size: 102%;
  transform: scale(1.05);
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2em;
  padding: 2em;
}

.product-image-container {
  position: relative;
  background-color: #f3f3f3;
  padding: 20px;
  border-radius: 5px 5px 0 0;
}

.product-image {
  width: 100%;
  display: block;
}

.add-to-cart {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #000;
  color: #fff;
  font-family: 'Poppins Regular';
  cursor: pointer;
  transition: background-color ease-in-out 0.3s;
  border-radius: 0 0 5px 5px;
}

.add-to-cart:hover {
  background-color: #ee5417;
}

.product-name {
  margin-top: 15px;
  font-family: 'Poppins Medium';
}

.product-price {
  margin-top: 5px;
  font-family: 'Poppins SemiBold';
  color: red;
}

.cart-icon {
  margin-right: 10px;
}