.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.MenuItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    max-width: 500px;
}

#UserSelection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 1000px;
}

#selectedForm {
    color: rgb(146, 144, 144);
}

#deleteAcc {
    color: grey;
}

#deleteAcc:hover {
    color: red;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}

.links>li {
    margin-bottom: 20px;
    list-style-type: none;
    font-family: 'Poppins Medium';
    font-size: 13px;
}

.links>li>hr {
    width: 14vh;
}

.menuLink {
    color: black;
    text-decoration: none;
    display: inline-block;
}

.menuLink::after {
    content: '';
    display: block;
    margin-top: 5px;
    width: 0;
    height: 1px;
    background: #000;
    transition: width .3s;
}

.menuLink:hover::after {
    width: 100%;
}

.inputFieldDiv {
    width: 50%;
    padding: 15px 20px;
    border-radius: 15px;
    border: 0.5px solid grey;
    font-family: 'Poppins Medium';
    font-size: 12px;
    margin-bottom: 20px;
}

.submitButton {
    background-color: #000;
    border-radius: 3vh;
    border: none;
    width: 50%;
    height: 100%;
    padding: 15px 20px;
    color: white;
    font-family: 'Poppins Semibold';
    align-items: center;
}

.submitButton:hover {
    background-color: #ee5417;
}


.formButtonDiv {
    display: flex;
    align-items: center;
    padding-top: 3vh;
}

.orderItem {
    display: flex;
    width: 75vh;
    height: 30vh;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    align-items: center;
    margin-bottom: 40px;
    font-size: 10px;
}

.orderItem img {
    height: 70%;
    width: 30%;
    border-radius: 10px;
    padding-left: 10px;
}

.orderDetails {
    flex: 1;
    padding: 20px;
    padding-top: 0px;
}

.orderDetails h2 {
    margin-top: 30px;
    font-size: 13px;
}

.orderDetails ul {
    margin-top: 10px;
    list-style-type: none;
    padding-left: 0;

}

.checkout-input {

    margin-bottom: 20px;
    flex: 0 0 65%;

}

.checkout-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    /* Adjust spacing between each group */
}

.checkout-label {
    flex: 0 0 30%;
    /* Adjust label width */
    margin-right: 10px;
    text-align: left;
    height: 40px;
}


label {
    font-family: 'Poppins';
    font-size: 12px;
    margin-right: 30px;
}


.specifics {
    color: #ee5417;
    font-weight: bold;
}